<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= link_to 'show uploaded pdf', @template.location.url, :format => 'pdf'%>
<%@template.preview_image_links.each do |link|%>
  <%= image_tag link %>
<%end%>

<!-- This is the image we're attaching Jcrop to -->
<%= image_tag @template.preview_image_links.first, :id=>"target", :alt=>"[Jcrop Example]" %>

<!-- This is the form that our event handler fills -->
<%@question = Question.new%>
<%= form_for @question, :id=>"coords", :class=>"coords" do |f| %>
 
  <div class="field">
    <%= f.label :template_id %><br>
    <%= f.number_field :template_id, :value => @template.id %>
  </div>
  <div class="field">
    <%= f.label :page %><br>
    <%= f.number_field :page %>
  </div>
<div class="inline-labels">
	<%= f.label :x1 %>
    <%= f.number_field :x1, :id => 'x1' %>
	<%= f.label :y1 %>
    <%= f.number_field :y1, :id => 'y1' %>
	<%= f.label :x2 %>
    <%= f.number_field :x2, :id => 'x2' %>
	<%= f.label :y2 %>
    <%= f.number_field :y2, :id => 'y2' %>

	<%= f.label :W %>
    <%= f.number_field :width, :id => 'w' %>
	<%= f.label :h %>
    <%= f.number_field :height, :id => 'h' %>
 </div>
  <div class="field">
    <%= f.label :points %><br>
    <%= f.number_field :points %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</p>

<p>
  <strong>User:</strong>
  <%= @template.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @template.title %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>

<script type="text/javascript">

  jQuery(function($){

    var jcrop_api;

    $('#target').Jcrop({
      onChange:   showCoords,
      onSelect:   showCoords,
      onRelease:  clearCoords
    },function(){
      jcrop_api = this;
    });

    $('#coords').on('change','input',function(e){
      var x1 = $('#x1').val(),
          x2 = $('#x2').val(),
          y1 = $('#y1').val(),
          y2 = $('#y2').val();
      jcrop_api.setSelect([x1,y1,x2,y2]);
    });

  });

  // Simple event handler, called from onChange and onSelect
  // event handlers, as per the Jcrop invocation above
  function showCoords(c)
  {
    $('#x1').val(c.x);
    $('#y1').val(c.y);
    $('#x2').val(c.x2);
    $('#y2').val(c.y2);
    $('#w').val(c.w);
    $('#h').val(c.h);
  };

  function clearCoords()
  {
    $('#coords input').val('');
  };



</script>