<h1>Listing scores</h1>

<table>
  <thead>
    <tr>
      <th>Submission</th>
      <th>Question</th>
      <th>Score</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.submission_id %></td>
        <td><%= score.question_id %></td>
        <td><%= score.score %></td>
        <td><%= score.notes %></td>
        <td><%= link_to 'Show', score %></td>
        <td><%= link_to 'Edit', edit_score_path(score) %></td>
        <td><%= link_to 'Destroy', score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score', new_score_path %>
