<style>
.image__select_box {
	position: absolute;
	top: 0px;
	left: 500px;
	width: 100px;
	height: 210px;
	border: 3px solid gray;
	opacity: 0.4;
	background-color: #ffffff;
}
.image {
	position: relative;
}
</style>
<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @submission.student_id %>
</p>

<p>
  <strong>Student name:</strong>
  <%= @submission.student_name %>
</p>

<p>
  <strong>Annotations:</strong>
  <%= @submission.annotations %>
</p>

<%@submission.original_image_links.each do |link|%>
<div class='image'>
  <%= image_tag link.link%>
  <div class='image__select_box js-grade-block'>
  	<%=simple_form_for(Score.new, remote: true) do |f|%>
		<%=f.input :score %>
		<%=f.input :notes %>
		<%=f.submit%>
    <%end%>
  </div>
</div>
<%end%>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>

<script>
$(document).ready(function (){
	$('.image__select_box').css({'height': (1650*<%=@question.height/470.0%>)+'px' , 'width': (1275*<%=@question.width/364.0%>)+'px', 'top': (1650*<%=@question.y1/470.0%>)+'px', 'left': (1275*<%=@question.x1/364.0%>)+'px'});
});
// $('.js-grade-block').on('click', function (){
// 	$(this).html('grade now?');
// });
</script>
