<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @submission.student_id %>
</p>

<p>
  <strong>Student name:</strong>
  <%= @submission.student_name %>
</p>

<p>
  <strong>Annotations:</strong>
  <%= @submission.annotations %>
</p>

<%@submission.original_image_links.each do |link|%>
  <%= image_tag link.link %>
<%end%>
<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
